<?xml version="1.0" encoding="UTF-8"?>
<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
    <servlet>
        <servlet-name>menu</servlet-name>
        <servlet-class>com.ufjf.dcc192.ex3.session.menu</servlet-class>
        <init-param>
            <param-name>senha</param-name>
            <param-value>1234</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>WelcomeServelet</servlet-name>
        <servlet-class>com.ufjf.dcc192.ex3.session.WelcomeServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sair</servlet-name>
        <servlet-class>com.ufjf.dcc192.ex3.session.sair</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WelcomServlet</servlet-name>
        <servlet-class>com.ufjf.dcc192.ex3.session.WelcomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WelcomeServlet</servlet-name>
        <servlet-class>com.ufjf.dcc192.ex3.session.WelcomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>erro_java</servlet-name>
        <servlet-class>com.ufjf.dcc192.ex3.session.erro_java</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>menu</servlet-name>
        <url-pattern>/menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WelcomeServelet</servlet-name>
        <url-pattern>/WelcomeServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sair</servlet-name>
        <url-pattern>/sair</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WelcomServlet</servlet-name>
        <url-pattern>/WelcomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WelcomeServlet</servlet-name>
        <url-pattern>/WelcomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>erro_java</servlet-name>
        <url-pattern>/erro_java</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>1</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/erro_html.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/erro_java.jsp</location>
    </error-page>
</web-app>
